:root {
  --primary-color:   #f2f9f1;
  --secondary-color: #ddeedf;
  --third-color: #b6cdbd;
  --fourth-color: #5c715e;
  --background-color: #de703c;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background: rgb(195,34,34);
  background: linear-gradient(0,var(--primary-color) 13%, var(--secondary-color) 48%, var(--third-color) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#subhead {
  font-size: 1.1em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #979bf0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  background-color:  var(--fourth-color);
  color: #fff;
  padding: 1em;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 6px 4px 6px rgb(255, 255, 255);
}

nav {
  display: flex;
  font-size: 1em;
  justify-content: right;
  background-color:  var(--fourth-color);
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 6px 4px 6px rgb(255, 255, 255);
}


nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 1em;
  border-radius: 5px;
}

main {
  padding: 0em;
}

footer {
  background-color: var(--fourth-color);
  color: #fff;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 6px 4px 6px #7d8d82;
}

h1 {
  font-size: 4.2em;
  line-height: 0.5em;
}

h2 {
  color: var(--fourth-color);
  font-size: 2em;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-title {
  font-size: 1.5em;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.project-description {
  width: 70em;
  box-sizing: border-box;
}

.project-media {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.project-media img{
  max-width: 25em;
  padding: 1em;
}

.stacked-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3em;
  margin: 2em;
}

.social-icons i{
  padding: 1em;
  background-color: var(--third-color);
  box-shadow: 6px 4px 6px #7d8d82;
}
.social-icons i:hover{
  background-color: #1a1a1a;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}